.grid-container {
    display: grid;
    grid-template-areas:
      'header header header charity twitter twitter'
      'contributors1 contributors2 contributors3 contributors4 twitter twitter'
      'map map map map feed feed'
      'map map map map feed feed';
    background-color: white;
    color: white
}

.item1 {
    margin-top: 50px;
    grid-area: header;
    padding: -10px
}

.item1 h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#083b66, #5c8d70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item2 {
    grid-area: map
}

.item3 {
    grid-area: feed;
    overflow-y: scroll;
    height:800px
}

.item4 {
    border-color: black;
    color: black;
    border-width: 10px;
    grid-area: charity;
    margin-top:50px;
    margin-right: 50px
}

.item4 button {
    margin-right: 5px;
    background-color: white;
    border-radius: 5px
}

.item5 {
    grid-area: twitter;
    margin-right:30px;
    border: 10px;
    border-color: black;
}

.item6 {
    grid-area: contributors1
}

.item7 {
    grid-area: contributors2
}

.item8 {
    grid-area: contributors3
}

.item9 {
    grid-area: contributors4
}

.touringButton button{
    background-color: #5c8d70;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
    position: absolute;
    top: 340px;
    left: 0;
	padding: 12px 25px;
	letter-spacing: 1px;
}

