.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'map map map map feed feed'
      'map map map map feed feed';
    background-color: #6b6b6b;
    color: white
}

.item1 {
    grid-area: header;
    padding: -10px
}

.item1 h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#083b66, #5c8d70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item2 {
    grid-area: map
}

.item3 {
    grid-area: feed;
    overflow-y: scroll;
    height:750px
}

